<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Translator App</title>


    <style>
        .textarea {
            margin-top: 100px;
        }

        .center {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            font-size: 25px;
            font-weight: bold;
        }

        h3 {
            display: flex;
            color: darkgoldenrod;
            justify-content: center;

        }

        span {
            color: crimson;
        }
    </style>
</head>

<body>
{% block content %}

    {% include 'navbar.html' %}



    <div class="container">


        <form action="translator/" method="get">

            <div class="form-group">
                <label class="center" for="exampleFormControlTextarea1">Enter your text that you like to
                    translate</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter text: " rows="3"
                          name="text"></textarea>
                <input type="checkbox" name="removePuncation"> Remove Punctuations<br>

            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control" id="exampleFormControlSelect1" name="lang">
                    <option value="bn">Bengali</option>
                    <option value="hi">Hindi</option>
                    <option value="en">English</option>
                    <option value="zh-cn">Chines</option>
                    <option value="ar">Arabic</option>
                </select>
            </div>
            <center>
                <button type="submit" class="btn btn-warning ">Translate</button>
            </center>
        </form>


    </div>
{% endblock %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>